<ul class="nav nav-tabs">
  <li role="presentation"><a href="/m/denuncia">DENUNCIA</a></li>
</ul>

    <div class="panel-body">
      <%= form_tag("/m/ver_incidentes", method: "get") do %>
        <div class="form-group input-group-lg">
			  <h2>ORIGEN</h2>
          <%= hidden_field :carga, :lat_origin, {id: "lat-origin"} %>
          <%= hidden_field :carga, :lng_origin, {id: "lng-origin"} %>
          <%= text_field_tag "location_name", "", class: "form-control", id: "location-input-origin", name: "location[name]" %>
        </div>
        <div class="form-group input-group-lg">
			 <h2>DESTINO</h2>
          <%= hidden_field :carga, :lat_destination, {id: "lat-destination"} %>
          <%= hidden_field :carga, :lng_destination, {id: "lng-destination"} %>
          <%= text_field_tag "location_name", "", class: "form-control", id: "location-input-destination", name: "location[name]" %>
        </div>
        <%= hidden_field :carga, :travel_option, {id: "travel-option"} %>
        <div class="form-group travel-options">
            <button type="button" class="btn btn-primary" value="caminando"><i class="fa fa-male fa-2x" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-primary" value="bicicleta"><i class="fa fa-bicycle fa-2x" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-primary" value="colectivo"><i class="fa fa-bus fa-2x" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-primary" value="tren"><i class="fa fa-train fa-2x" aria-hidden="true"></i></button>
        </div>
        <button type="submit" class="btn-primary btn-lg btn-success"><i class="fa fa-search" aria-hidden="true"></i> BUSCAR</button>
      <% end %>
    </div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_api_key %>&libraries=places"></script>

<script type="text/javascript">
  $(document).ready(function() {
    initAutocompleteCargaTrayecto();
  })
</script>
