<div id="mobileMap"></div>

<script>
function initMobileMap () {
	function addMark(position, type) {
		new google.maps.Marker({
			position: new google.maps.LatLng(parseFloat(position.lat), parseFloat(position.lng)),
			icon: icons[type].icon,
			map: map
		});
	}

	var startPoint = { lat: <%= @origin_lat %>, lng: <%= @origin_lng %> };
	var endPoint = { lat: <%= @destination_lat %>, lng: <%= @destination_lng %> };

	var mobileMap = document.getElementById("mobileMap");
	var map = new google.maps.Map(mobileMap, {
		center: {lat: -34.603722, lng:  -58.381592},
		zoom: 14
	});

	<% unless @incidentes.nil? || @incidentes.empty? %>
	var incidentes = <%= raw(@incidentes.map { |i| raw(i.to_json.to_s) }) %>.map(i => JSON.parse(i));
	<% else %>
	var incidentes = [];
	<% end %>

	incidentes.forEach(function (i) {
		addMark(i, 'anti_hero');
	});

	addMark(startPoint, 'hero');
	addMark(endPoint, 'gold')

	mobileMap.style["min-height"] = "450px";
	mobileMap.style["margin-top"] = "20px";
}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_api_key %>&callback=initMobileMap"></script>
